
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 style="float:left;padding-top:10px" class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        <div style="float:right">
            <a href="#" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Thêm sản phẩm</span>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Ảnh</th>
                        <th>Giảm giá</th>
                        <th>Thông tin sản phẩm</th>
                        <th>Hãng</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Ảnh</th>
                        <th>Giảm giá</th>
                        <th>Thông tin sản phẩm</th>
                        <th>Hãng</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">
                            <td>@item.Product_Name</td>
                            <td>@item.Catalog_Name</td>
                            <td>@item.Amount</td>
                            <td>@item.Price</td>
                            <td><img src="@(Url.Content(item.Image))" width="70px" height="60px" alt="@item.Product_Name"></td>
                            <td>@item.Discount</td>
                            <td>@item.Detail</td>
                            <td>@item.Brand_Name</td>
                            <td><a href="/Admin/ProductManagement/Edit/@item.Id">Edit</a>| @Ajax.ActionLink("Delete","Delete",new { @id=item.Id }, new AjaxOptions
                                                 {
                                                     Confirm="Are you sure to delete this record?",
                                                     OnComplete="$('#row_"+item.Id+"').remove()",
                                                     HttpMethod = "Delete"
                                                 }
                                                 )</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


