
@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var stt = 1;
    double total = 0;
}


<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Your order
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            @if (Model.Count > 0)
            {
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Product</th>
                                <th>Total rice</th>
                                <th>Status</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                total = total + (item.Price * item.Quantity);
                                <tr id="row_@item.Cart_id" class="rem\@stt">
                                    <td class="invert">@stt</td>

                                    <td class="invert-image">
                                        <a href="../Product/DetailProduct/@item.Product_id">
                                            <img src="@Url.Content(item.LinkImage)" alt="@item.ProductName" class="img-responsive">
                                        </a>
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus" onclick="return DecreaseQuantity(@item.Product_id,@item.Quantity)">&nbsp;</div>
                                                <div class="entry value">
                                                    <span id="quantityId">@item.Quantity</span>
                                                </div>
                                                <div class="entry value-plus active" onclick="return IncreaseQuantity(@item.Product_id,@item.Quantity,@item.Amount)">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">@item.ProductName</td>
                                    <td class="invert">@item.Price</td>
                                    <td class="invert">@(item.Price * item.Quantity)</td>

                                    <td>
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = @item.Cart_id }, new AjaxOptions
                                   {
                                       Confirm = "Are you sure to delete this item?",
                                       OnComplete = "$('#row_" + @item.Cart_id + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                    <td class="invert">
                                        <div class="rem">
                                            <div class="close" @stt> </div>
                                        </div>
                                    </td>
                                </tr>
                                stt = stt + 1;
                            }


                            <h4>Total: @total</h4>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <span> You don't have any order </span>
            }
        </div>
        <div class="checkout-left">
            <div class="address_form_agile">
                <h4>Add a new Details</h4>
                <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                    <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                        <div class="information-wrapper">
                            <div class="first-row">
                                <div class="controls">
                                    <input class="billing-address-name" type="text" name="name" placeholder="Full Name" required="">
                                </div>
                                <div class="w3_agileits_card_number_grids">
                                    <div class="w3_agileits_card_number_grid_left">
                                        <div class="controls">
                                            <input type="text" placeholder="Mobile Number" name="number" required="">
                                        </div>
                                    </div>
                                    <div class="w3_agileits_card_number_grid_right">
                                        <div class="controls">
                                            <input type="text" placeholder="Landmark" name="landmark" required="">
                                        </div>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="controls">
                                    <input type="text" placeholder="Town/City" name="city" required="">
                                </div>
                                <div class="controls">
                                    <select class="option-w3ls">
                                        <option>Select Address type</option>
                                        <option>Office</option>
                                        <option>Home</option>
                                        <option>Commercial</option>

                                    </select>
                                </div>
                            </div>
                            <button class="submit check_out">Delivery to this Address</button>
                        </div>
                    </div>
                </form>
                <div class="checkout-right-basket">
                    <a href="payment.html">
                        Make a Payment
                        <span class="fa fa-hand-o-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
