
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var model = (List<LaptopShop.Models.Product>)ViewBag.ProductByKeyword;
}

<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Result for keyword: @ViewBag.Keyword
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        <div class="side-bar col-md-3">
            <form action="@Url.Action("Search","Product",new {keyword=this ,range="agileinfo-nav_search.value"}) " method="get">
                <div class="search-hotel">
                    <h3 class="agileits-sear-head">Search Here..</h3>
                    <input type="search" id="txtKeyword" placeholder="Product name..." name="keyword">
                    <input type="submit" value=" ">

                </div>
                <!-- price range -->
                <div class="left-side">
                    <h3 class="agileits-sear-head">Price range</h3>
                    <select id="agileinfo-nav_search" name="range" required="">
                        <option value="0" selected>All price</option>
                        <option value="1">Less than 15 millions</option>
                        <option value="2">From 15 to 25 millions</option>
                        <option value="3">More than 25 millions</option>

                    </select>
                </div>
            </form>
                <!-- //price range -->
                <!-- food preference -->
                <div class="left-side">
                    <h3 class="agileits-sear-head">Food Preference</h3>
                    <ul>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Vegetarian</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Non-Vegetarian</span>
                        </li>
                    </ul>
                </div>
                <!-- //food preference -->
                <!-- discounts -->
                <div class="left-side">
                    <h3 class="agileits-sear-head">Discount</h3>
                    <ul>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">5% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">10% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">20% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">30% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">50% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">60% or More</span>
                        </li>
                    </ul>
                </div>
                <!-- //discounts -->
                <!-- reviews -->
                <div class="customer-rev left-side">
                    <h3 class="agileits-sear-head">Customer Review</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>5.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>4.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>3.5</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>3.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>2.5</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //reviews -->
                <!-- cuisine -->
                <div class="left-side">
                    <h3 class="agileits-sear-head">Cuisine</h3>
                    <ul>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">South American</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">French</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Greek</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Chinese</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Japanese</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Italian</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Mexican</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Thai</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Indian</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span"> Spanish </span>
                        </li>
                    </ul>
                </div>
                <!-- //cuisine -->
                <!-- deals -->
                <div class="deal-leftmk left-side">
                    <h3 class="agileits-sear-head">Special Deals</h3>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="images/d2.jpg" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Lay's Potato Chips</h3>
                            <a href="">$18.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="images/d1.jpg" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Bingo Mad Angles</h3>
                            <a href="">$9.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="images/d4.jpg" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Tata Salt</h3>
                            <a href="">$15.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="images/d5.jpg" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Gujarat Dry Fruit</h3>
                            <a href="">$525.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="special-sec1">
                        <div class="col-xs-4 img-deals">
                            <img src="images/d3.jpg" alt="">
                        </div>
                        <div class="col-xs-8 img-deal1">
                            <h3>Cadbury Dairy Milk</h3>
                            <a href="">$149.00</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //deals -->
            </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9 w3l-rightpro">
            <div class="wrapper">
                <!-- first section -->
                <div class="product-sec1">
                    @if (model.Count > 0)
                    {
                        foreach (var item in model)
                        {
                            <div class="col-xs-4 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <img src="@(Url.Content(item.Image))" width="160px" height="150px" alt="@item.Product_Name">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="http://localhost:14787/Product/DetailProduct/@item.ID" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">@(item.Discount.HasValue?'-'+item.Discount.Value.ToString()+'%' : "Sale")</span>
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>
                                            <a href="http://localhost:14787/Product/DetailProduct/@item.ID">@item.Product_Name</a>
                                        </h4>
                                        <div class="info-product-price">
                                            <span class="item_price">
                                                @(item.Discount.HasValue ? Convert.ToDecimal(
                                                                            Decimal.ToDouble((decimal)item.Price) -
                                                                            Decimal.ToDouble((decimal)item.Price) * item.Discount / 100)
                                                                            : item.Price
                                                )
                                            </span>
                                            <del>@(item.Discount.HasValue ? item.Price.ToString() : "")</del>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <form action="@Url.Action("Add", "Cart", new { id = @item.ID, quantity = 1 })" target="_blank" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="business" value=" ">
                                                    <input type="hidden" name="item_name" value="@item.Product_Name">
                                                    <input type="hidden" name="amount" value="@item.Price">
                                                    <input type="hidden" name="discount_amount" value="">
                                                    <input type="hidden" name="currency_code" value="VND">
                                                    <input type="hidden" name="return" value=" ">
                                                    <input type="hidden" name="cancel_return" value=" ">
                                                    <input type="submit" name="submit" value="Add to cart" class="button">
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }

                        @*@Html.PagedListPager(Model,page=>Url.Action("Products",new {page }))*@
                        <div class="clearfix"></div>
                        @*Phan trang*@
                        if (ViewBag.TotalPage > 1)
                        {
                            var pageDisplay = (int)ViewBag.MaxPage;
                            int totalPage = (int)ViewBag.TotalPage;
                            int currentPage = ((int)ViewBag.Page);

                            // Create numeric links
                            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                            var link = "/Product/Search?keyword=" + @ViewBag.Keyword;
                            <nav>
                                <ul class="pagination">
                                    @if (currentPage > ViewBag.First)
                                    {
                                        <li><a href="@link&page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                        <li>
                                            <a href="@link&page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                        </li>

                                    }
                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (currentPage == i)
                                        {

                                            <li> <a href="@link&page=@i" class="active" title="Trang @i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@link&page=@i" title="Trang @i" class="pos">@i</a></li>
                                        }
                                    }
                                    @if (currentPage < totalPage)
                                    {
                                        <li><a href="@link&page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                        <li> <a href="@link&page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                                    }

                                </ul>
                            </nav>

                        }
                        else
                        {
                            
                        }
                    }
                    else
                    {
                        <span>This product is not found</span>
                    }
                </div>
                <!-- //first section -->

            </div>
        </div>
        <!-- //product right -->
    </div>
</div>
