@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var CartUser = ViewBag.CartUser;
    double total = 0;
    int stt = 1;

}

<div class="privacy">
    <div class="container">
        <h3 class="tittle-w3l">
            Order
            <span class="heading-style">
                <i ></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div class="checkout-right-basket">
            <div class="address_form_agile">

                @*</form>*@
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Your order</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in CartUser)
                            {
                                total = total + (item.Price * item.Quantity);
                                <tr>
                                    <td>@stt</td>
                                    <td> @item.ProductName</td>
                                    <td id="quantityPayment"> @item.Quantity</td>
                                    <td id="amountPayment" hidden>@item.Amount </td>
                                    <td>@item.Price</td>
                                </tr>
                                stt = stt + 1;
                            }

                            <tr>
                                <td colspan="3" style="text-align:right">Total: @total</td>
                                <td>đ</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <button class="submit check_out" type="submit" onclick="return checkAmountProduct()">Delivery to this Address</button>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<script>
    function checkAmountProduct() {
        var amount = document.getElementById("amountPayment").innerHTML;
        var quantity = document.getElementById("quantityPayment").innerHTML;
        if (amount > quantity) {
            alert("Amount is not enough for the quantity");
            return false;
        }
        else {
            location.href = "http://localhost:14787/User/AddOrder";
        }
    }
</script>