@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>FULLNAME</th>
                        <th>GENDER</th>
                        <th>BIRTHDATE</th>
                        <th>ADDRESS</th>
                        <th>JOINDATE</th>
                        <th>STATUS</th>
                        <th>ROLE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        //Format Name
                        string name = item.firstName + " " + item.lastName;

                        // Format giới tính
                        string gender = "";
                        if (item.gender)
                        {
                            gender = "Nam";
                        }
                        else
                        {
                            gender = "Nữ";
                        }

                        //Format ngày sinh
                        string[] birthDate = (Convert.ToString(item.birthDate)).Split(' ');

                        //Format ngày bắt đàu công việc
                        string[] joinDate = (Convert.ToString(item.joinDate)).Split(' ');

                        <form action="/User/UserManager" method="post">
                            <tr>
                                <input type="hidden" id="Id" value="@item.ID" name="Id">
                                <td>@item.ID</td>
                                <td>@item.username</td>
                                <td>@name</td>
                                <td>@gender</td>
                                <td>@birthDate[0]</td>
                                <td>@item.address</td>
                                <td>@joinDate[0]</td>
                                <td>
                                    <select name="status" id="status" class="custom-select custom-select-sm form-control form-control-sm">
                                        @if (item.isDisable == true)
                                        {
                                            <option value="true" selected>Lock</option>
                                            <option value="false">Unlock</option>
                                        }
                                        else
                                        {
                                            <option value="flase" selected>Unlock</option>
                                            <option value="true">Lock</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select name="role" id="role" class="custom-select custom-select-sm form-control form-control-sm">
                                        @foreach (var rowItem in ViewBag.role)
                                        {
                                            if (item.Role_ID == rowItem.ID)
                                            {
                                                <option value="@rowItem.Role_Name" selected>@rowItem.Role_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@rowItem.Role_Name">@rowItem.Role_Name</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td>
                                    <a href="/User/UserManager"><input tabindex="3" class="btn btn-primary large" type="submit" id="submit" value="Save"></a>
                                </td>
                            </tr>
                        </form>                       
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>
