
@{
    ViewBag.Title = "ViewOrderDetail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    double total = 0;
    int stt = 1;
}


<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Checkout
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            @if (Model.Count > 0)
            {
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Product Name</th>
                                <th style="width:200px">Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                total = total + (item.Price * item.Quantity);
                            <tr id="row_@item.Cart_id" class="rem\@stt">
                                <td class="invert">@stt</td>
                                <td class="invert">@item.ProductName</td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="entry value">
                                            <span id="quantityId">@item.Quantity</span>
                                        </div>
                                    </div>
                                </td>

                                <td class="invert">@item.Price</td>
                                <td class="invert">@(item.Price * item.Quantity)</td>

                            </tr>
                                stt = stt + 1;
                            }


                            <h4>Total: @total</h4>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <span> Nothing in cart </span>
            }
        </div>

    </div>
</div>