
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var LaptopProducts = (List<LaptopShop.Models.Product>) ViewBag.LaptopProducts;
    var ProductBrand = (List<LaptopShop.Models.Brand>)ViewBag.BrandProducts;
    var ProductCategory = (List<LaptopShop.Models.Catalog>)ViewBag.CategoryProduct;
}

@section ban_top{
<div class="container">
    @{
        Html.RenderAction("ProductCategory", "Home");       <!--Category-->
    }                    
    <div class="top_nav_left">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav menu__list">
                        <li class="active">
                            <a class="nav-stylehead" href="../Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-stylehead" href="about.html">About Us</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Laptop
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="agile_inner_drop_nav_info">
                                    @foreach (var item in ProductBrand)
                                    {
                                        if (item.ID % 2 == 0)
                                        {
                                            <div class="col-sm-4 multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <li>
                                                        <a href="http://localhost:14787/Product/Products/@item.ID">@item.Brand_Name</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-4 multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <li>
                                                        <a href="http://localhost:14787/Product/Products/@item.ID">@item.Brand_Name</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }

                                    }
                                    <div class="col-sm-4 multi-gd-img">
                                        <img src="~/Assets/Layout2/images/nav.png" alt="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Household
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="agile_inner_drop_nav_info">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Kitchen & Dining</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Detergents</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Utensil Cleaners</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Floor & Other Cleaners</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Disposables, Garbage Bag</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Repellents & Fresheners</a>
                                            </li>
                                            <li>
                                                <a href="product2.html"> Dishwash</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Pet Care</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Cleaning Accessories</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Pooja Needs</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Crackers</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Festive Decoratives</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Plasticware</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Home Care</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>
                        <li class="">
                            <a class="nav-stylehead" href="faqs.html">Faqs</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-stylehead dropdown-toggle" href="#" data-toggle="dropdown">
                                Pages
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li>
                                    <a href="icons.html">Web Icons</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a class="nav-stylehead" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
}

<div class="container">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
        Our Top Products
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
    <!-- //tittle heading -->
    <!-- product left -->
    <div class="side-bar col-md-3">
        <div class="search-hotel">
            <h3 class="agileits-sear-head">Search Here..</h3>
            <form action="#" method="post">
                <input type="search" placeholder="Product name..." name="search" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <!-- category -->
        <div class="left-side">
            <h3 class="agileits-sear-head">Category</h3>
            <ul>
                @foreach (var item in ProductCategory)
                {
                    <li>
                        @*<input type="checkbox" class="checked">
                        <span class="span">South American</span>*@
                        <a href="http://localhost:14787/Product/FillByCatalog/@item.ID">@item.Catalog_Name</a>
                    </li>
                }
            </ul>
        </div>
        <!-- //category -->
        <!-- deals -->
        <div class="deal-leftmk left-side">
            <h3 class="agileits-sear-head">Special Deals</h3>
            <div class="special-sec1">
                <div class="col-xs-4 img-deals">
                    <img src="~/Assets/Layout2/images/d2.jpg" alt="">
                </div>
                <div class="col-xs-8 img-deal1">
                    <h3>Lay's Potato Chips</h3>
                    <a href="single.html">$18.00</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="special-sec1">
                <div class="col-xs-4 img-deals">
                    <img src="~/Assets/Layout2/images/d1.jpg" alt="">
                </div>
                <div class="col-xs-8 img-deal1">
                    <h3>Bingo Mad Angles</h3>
                    <a href="single.html">$9.00</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="special-sec1">
                <div class="col-xs-4 img-deals">
                    <img src="~/Assets/Layout2/images/d4.jpg" alt="">
                </div>
                <div class="col-xs-8 img-deal1">
                    <h3>Tata Salt</h3>
                    <a href="single.html">$15.00</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="special-sec1">
                <div class="col-xs-4 img-deals">
                    <img src="~/Assets/Layout2/images/d5.jpg" alt="">
                </div>
                <div class="col-xs-8 img-deal1">
                    <h3>Gujarat Dry Fruit</h3>
                    <a href="single.html">$525.00</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="special-sec1">
                <div class="col-xs-4 img-deals">
                    <img src="~/Assets/Layout2/images/d3.jpg" alt="">
                </div>
                <div class="col-xs-8 img-deal1">
                    <h3>Cadbury Dairy Milk</h3>
                    <a href="single.html">$149.00</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //deals -->
    </div>
    <!-- //product left -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-9">
        <div class="wrapper">
            <!-- first section (nuts) -->
            <div class="product-sec1">
                <h3 class="heading-tittle">Laptops</h3>
                @foreach (var item in LaptopProducts)
                {
                    <div class="col-md-4 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="@(Url.Content(item.Image))" width="160px" height="150px" alt="@item.Product_Name">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="../Product/DetailProduct/@item.ID" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                                <span class="product-new-top">@(item.Discount.HasValue?'-'+item.Discount.Value.ToString()+'%' : "Sale")</span>
                            </div>
                            <div class="item-info-product ">
                                <h4>
                                    <a href="../Product/DetailProduct/@item.ID">@item.Product_Name</a>
                                </h4>
                                <div class="info-product-price">
                                    <span class="item_price">@item.Price</span>
                                    <del>@(item.DiscountMoney.HasValue?item.DiscountMoney.Value.ToString():"")</del>
                                </div>
                                <a href="http://localhost:14787/Cart/AddProduct?id=@item.ID&quantity=1"><input type="submit" name="submit" value="Add to cartmjgdmh" class="button" /></a>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                    @*<form action="@Url.Action("Add","Cart")" method="post">*@
                                    @using (Html.BeginForm("Add","Cart",FormMethod.Post))
                                    {

                                    
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="@item.Product_Name" />
                                            <input type="hidden" name="amount" value="@item.Price" />
                                            <input type="hidden" name="discount_amount" value="" />
                                            <input type="hidden" name="currency_code" value="VND" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Add to cart" class="button" />
                                        </fieldset>
                                    }
                                    @*</form>*@
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
            <!-- //first section (nuts) -->
            <!-- second section (nuts special) -->
            <div class="product-sec1 product-sec2">
                <div class="col-xs-7 effect-bg">
                    <h3 class="">Pure Energy</h3>
                    <h6>Enjoy our all healthy Products</h6>
                    <p>Get Extra 10% Off</p>
                </div>
                <h3 class="w3l-nut-middle">Nuts & Dry Fruits</h3>
                <div class="col-xs-5 bg-right-nut">
                    <img src="~/Assets/Layout2/images/nut1.png" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //second section (nuts special) -->
            <!-- third section (oils) -->
            <div class="product-sec1">
                <h3 class="heading-tittle">Oils</h3>
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Assets/Layout2/images/mk4.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">Freedom Oil, 1L</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$78.00</span>
                                <del>$110.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Freedom Sunflower Oil, 1L" />
                                        <input type="hidden" name="amount" value="78.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Assets/Layout2/images/mk5.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">Saffola Gold, 1L</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$130.00</span>
                                <del>$150.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Saffola Gold, 1L" />
                                        <input type="hidden" name="amount" value="130.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Assets/Layout2/images/mk6.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">Fortune Oil, 5L</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$399.99</span>
                                <del>$500.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Fortune Oil, 5L" />
                                        <input type="hidden" name="amount" value="399.99" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //third section (oils) -->
            <!-- fourth section (noodles) -->
            <div class="product-sec1">
                <h3 class="heading-tittle">Pasta & Noodles</h3>
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Assets/Layout2/images/mk7.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">Yippee Noodles, 65g</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$15.00</span>
                                <del>$25.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="YiPPee Noodles, 65g" />
                                        <input type="hidden" name="amount" value="15.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Assets/Layout2/images/mk8.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">Wheat Pasta, 500g</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$98.00</span>
                                <del>$120.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Wheat Pasta, 500g" />
                                        <input type="hidden" name="amount" value="98.00" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Assets/Layout2/images/mk9.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4>
                                <a href="single.html">Chinese Noodles, 68g</a>
                            </h4>
                            <div class="info-product-price">
                                <span class="item_price">$11.99</span>
                                <del>$15.00</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Chinese Noodles, 68g" />
                                        <input type="hidden" name="amount" value="11.99" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //fourth section (noodles) -->
        </div>
    </div>
    <!-- //product right -->
</div>

@section Related_Product{

<div class="container">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
        Special Offers
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
    <!-- //tittle heading -->
    <div class="content-bottom-in">
        <ul id="flexiselDemo1">
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single.html">
                            <img src="~/Assets/Layout2/images/s1.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single.html">Aashirvaad, 5g</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$220.00</h6>
                            <p>Save $40.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Aashirvaad, 5g" />
                                    <input type="hidden" name="amount" value="220.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single.html">
                            <img src="~/Assets/Layout2/images/s4.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single.html">Kissan Tomato Ketchup, 950g</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$99.00</h6>
                            <p>Save $20.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Kissan Tomato Ketchup, 950g" />
                                    <input type="hidden" name="amount" value="99.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single.html">
                            <img src="~/Assets/Layout2/images/s2.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single.html">Madhur Pure Sugar, 1g</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$69.00</h6>
                            <p>Save $20.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Madhur Pure Sugar, 1g" />
                                    <input type="hidden" name="amount" value="69.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single2.html">
                            <img src="~/Assets/Layout2/images/s3.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single2.html">Surf Excel Liquid, 1.02L</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$187.00</h6>
                            <p>Save $30.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Surf Excel Liquid, 1.02L" />
                                    <input type="hidden" name="amount" value="187.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single.html">
                            <img src="~/Assets/Layout2/images/s8.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single.html">Cadbury Choclairs, 655.5g</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$160.00</h6>
                            <p>Save $60.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Cadbury Choclairs, 655.5g" />
                                    <input type="hidden" name="amount" value="160.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single2.html">
                            <img src="~/Assets/Layout2/images/s6.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single2.html">Fair & Lovely, 80 g</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$121.60</h6>
                            <p>Save $30.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Fair & Lovely, 80 g" />
                                    <input type="hidden" name="amount" value="121.60" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single.html">
                            <img src="~/Assets/Layout2/images/s5.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single.html">Sprite, 2.25L (Pack of 2)</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$180.00</h6>
                            <p>Save $30.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Sprite, 2.25L (Pack of 2)" />
                                    <input type="hidden" name="amount" value="180.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l-specilamk">
                    <div class="speioffer-agile">
                        <a href="single2.html">
                            <img src="~/Assets/Layout2/images/s9.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-name-w3l">
                        <h4>
                            <a href="single2.html">Lakme Eyeconic Kajal, 0.35 g</a>
                        </h4>
                        <div class="w3l-pricehkj">
                            <h6>$153.00</h6>
                            <p>Save $40.00</p>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Lakme Eyeconic Kajal, 0.35 g" />
                                    <input type="hidden" name="amount" value="153.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
}

@section footer{
    @{
        Html.RenderAction("Footer", "Home");       <!--Footer Category-->
    }
}

